{% extends 'blog/blog.master.html' %}

{% block left-col-title %}{{ object.title }}{% endblock %}

{% block left-col %}
<!-- información del post -->
<!-- el código html no se renderiza, usamos
autoscape para que django lo renderice -->
<div class="border-bottom mb-3 py-2">
  Published on <strong>{{ object.category.name }}</strong> at <italy>{{ object.created_at }}</italy>
</div>
{% autoescape off %}
  {{ object.text }}
{% endautoescape %}
{% endblock %}



{% block right-col %}
  {% include 'blog/widgets/author.html' %}
  {% include 'blog/widgets/categories.html' %}
  {% include 'blog/widgets/top_rated_posts.html' %}
{% endblock %}