{% extends 'blog/blog.master.html' %}

{% block left-col-title %}Recent posts{% endblock %}

{% block left-col %}
  {% for post in posts %}
  <div class="card mb-3 mt-3 shadow-sm">
    <div class="row no-gutters">
      {% if post.related_image %}
        <div class="col-md-4">
          <img src="/media/{{ post.related_image }}" class="card-img" alt="Post image" style="max-width: 200px;">
        </div>
      {% endif %}
      <div class="{% if post.related_image %}col-md-8{% else %}col{% endif %}">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <p class="card-text"><small class="text-muted">{{ post.created_at }} by @{{ post.author.username }}</small></p>
          <a href="{% url 'blog.post' post.id %}" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}

{% block right-col %}
  {% include 'blog/widgets/search.html' %}
  {% include 'blog/widgets/categories.html' %}
  {% include 'blog/widgets/top_rated_posts.html' %}
{% endblock %}