{% load static %}
<div class="d-flex align-items-center p-3 text-white-50 bg-purple shadow">
  <img class="mr-3" src="{% static 'geekside.png' %}" alt="" width="48" height="48">
  <div>
    <h6 class="mb-0 text-white">GeekSide</h6>
    <small>Best geek site</small>
  </div>
  <ul class="nav text-light">
    <li class="nav-item text-light">
      <a class="nav-link active text-light" href="#">
        {{ user.username }}
      </a>
    </li>
    <li class="nav-item text-light">
      <a class="nav-link active text-light" href="{% url 'login' %}">Login</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item text-light">
      <a class="nav-link active text-light" href="{% url 'logout' %}">Logout</a>
    </li>
    {% endif %}
  </ul>
</div>
